[user]
    name = Mihai Man
    email = mitaman89@yahoo.com
[core]
    excludesfile = ~/.gitexcludes
    autocrlf = false
[apply]
    whitespace = nowarn
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    uncommit = reset HEAD^
    ls = ls-files
    out = log HEAD..origin
    killbranches = !git branch | grep -v master | xargs git branch -d 2> /dev/null
    df = diff --name-only
    fo = fetch origin
    plom = pull origin master
    psom = push origin master
    fu = fetch upstream
    upm = reset --hard upstream/master
    upmain = rebase -i upstream/main
    upbr = rebase -i upstream/master
    com = checkout master
    curbranch = "!git branch | grep \"*\" | sed \"s/* //\""
    pushme = "!git push -u origin $(git curbranch) --progress" ; push -u origin HEAD
